// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

a {
  color: white;
  background-color: blue;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  &:hover {
    color: $gray;
    background-color: rgb(68, 57, 229);
  }
}

btn btn-primary {
  padding: 40px
}
